[ req ]
default_bits = 2048
req_extensions = req_ext
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
countryName = NL
stateOrProvinceName = Utrecht
localityName = Utrecht
organizationName = One Fox
organizationalUnitName = OFX
commonName = demosite.local
emailAddress = noreply@onefox.nl

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1 = demosite.local
DNS.2 = certsite.local